@import './variables.scss';

section {
  margin-bottom: $section-gap;
}

main {

  #start-shopping {
    margin-top: $section-gap;

    .content-box {
      h3 {
        color: $primary;
      }
    }

    // .slider {

    // }
  }

  #special-moments {
    h3 {
      color: $primary;
    }

    .row {
      .img-container {
        height: 600px;
        
        &:first-child {
          background: url('/images/corporate-bg.jpg') no-repeat;
          background-size: cover;
        }
        &:last-child {
          background: url('/images/wedding-bg.jpg') no-repeat;
          background-size: cover;
        }
      }

    }
  }

}